<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footprint</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="custom.css" rel="stylesheet"> 
    <link href="cover.css" rel="stylesheet">
    <script src="custom.js"></script>
   </head>

    <main class="px-3">
      <h1 id="estimate-header"></h1>
      <form id="estimate-form">
      <select class="form-select" aria-label="Default select example" id="estimate-select">
        <option selected>Select Activity Type</option>
        <option value="electricity">Electricity</option>
        <option value="flight">Flight</option>
        <option value="shipping">Shipping</option>
        <option value="vehicle">Vehicle</option>
        <option value="fuel combustion">Fuel Combustion</option>
    </select>
    </main>

<!--<form class="" action="" method="post">
  <h4>Activity Name: <input type="text" name="name" value=""required> </br></h4>
  <h4>Type: </h4>
  <input type="radio" name="activity_type" id="commute" value="commute" required> <label for="commute"> Commute </label> </br>
  <input type="radio" name="activity_type" id="food" value="food" required> <label for="food"> Food </label> </br>
  <input type="radio" name="activity_type" id="home" value="home" required> <label for="home"> Home </label> </br>
  <input type="radio" name="activity_type" id="outreach" value="outreach" required> <label for="outreach"> Outreach </label> </br>

  <h4>Length (Minutes or Units): <input type="text" name="length" value="" required></h4></br>
  <input type="submit" name="submit" value="Submit">
</form>-->