<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footprint</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
    <script src="custom.js"></script>
   </head>

    <main class="px-3">
      <h1 id="estimate-header"></h1>
      <form id="estimate-form">
      <select class="form-select" aria-label="Default select example" id="estimate-select">
        <option selected>Select Activity Type</option>
        <option value="electricity">Electricity</option>
        <option value="flight">Flight</option>
        <option value="shipping">Shipping</option>
        <option value="vehicle">Vehicle</option>
        <option value="fuel combustion">Fuel Combustion</option>
    </select>
    </main>
   
