<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footprint</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="custom.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  
  <main class="px-3">
  <!--<h1>Please Sign Up Below!</h1>-->
    <form class="" action="/signup" method="post">
      <h4>Username:</h4><input type="text" name="username" id="username" value="" required> <br>
      <br>
      <h4>Email:</h4><input type="text" name="email" value="" required> <br>
      <br>
      <h4>Password:</h4> <input type="password" name="password" value=""required> <br>
      <br>
      <input class="btn btn-lg btn-secondary fw-bold border-white" type="submit" name="submit" value="Sign Up!">
    </form>
    <br>
    <a href="/login"> or Log In</a> 
  </main>

</html>


