<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footprint</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="custom.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  

  <main class="px-3">
    <form class="" action="/login" method="post">
        <h4 style="color:rgba(1, 77, 7, 0.5)">Username:</h4> <input type="text" name="username" value=""> <br>
    <br>
     <h4 style="color:rgba(1, 77, 7, 0.5)">Password:</h4><input type="password" name="password" value=""> <br>
    <br>
    <input class ="btn btn-lg btn-secondary fw-bold border-white" type="submit" name="submit" value="Log In">

    </form>
    <br>

    <p><a href="/signup">Not a User? Sign Up!</a> &nbsp;&nbsp; <a href="/"> Go Back</a></p>
  </main>


</html>









