<h1> Hello, <%= @user.username %>. Here Are Your Stats!</h1>

<h3>Activities</h3>
<% if @user.activities == [] %>
  <h4> No activities to show! </a> </h4>
<% else %>
  <% @user.activities.each do |a| %>
    <li> <a href="/activities/<%=a.id%>"> <%= a.name.titleize %> </a></li>
  <%end%>
<%end%>


<% a = @user.activities.map {|d| d.credits }%>
<h3>Your Balance </h3>
<%= a.inject(0){|sum,x| sum + x }%>

<h4><a href="/activities/new">Add an Activity</a>&nbsp;&nbsp;<a href="/activities">Home</a>&nbsp;&nbsp;<a href="/logout"> Logout</a>
