<h1> Hello, <%= @user.username %>. Here are Your Stats!</h1>

<h2>Activities</h2>
<% if @user.activities == [] %>
  <h4> No activities to show! Add one <a href="/activities/new"> here.</a> </h4>
<% else %>
  <% @user.activities.each do |a| %>
    <p> <%= a.name.capitalize %>  </p>
  <%end%>
<%end%>


<% a = @user.activities.map {|d| d.credits }%>
<h2>Your Balance </h2>
<%= a.inject(0){|sum,x| sum + x }%>

<h4><a href="/logout"> Logout</a> &nbsp;&nbsp; <a href="/activities/new">Add an Activity</a>
