<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footprint</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="custom.css" rel="stylesheet"> 
    <link href="cover.css" rel="stylesheet">

   </head>


<main class="px-3">
<h1> Hello <%=@current_user.username%>!</h1>

<%if @activities==[]%>
  <p>No Activities to Show!</p>
<%else%>
  <h3>All Activities</h3>
  <% @activities.each do |activity| %>
    <li> <%= activity.name.titleize %> </li>
  <%end%>
<%end%>

<h4><a href="/activities/new"> Add an Activity</a> &nbsp;&nbsp; <a href="/users/<%=@current_user.slug%>"> Profile</a>&nbsp;&nbsp;  <a href="/logout"> Logout</a></h4>
</main>


</html>