<h1> Hello <%=@current_user.username%>!</h1>

<h3>Activities</h3>
  <% @activities.each do |activity| %>
    <% if activity.name %>
      <li> <%= activity.name.capitalize %> </li>
    <%end%>
  <%end%>

  <h4><a href="/activities/new"> Add an Activity</a> &nbsp;&nbsp; <a href="/users/<%=@current_user.slug%>"> Profile</a>&nbsp;&nbsp;  <a href="/logout"> Logout</a></h4>
