<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="public/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">  

    <title>Footprint</title>
    
  </head>

  <body>

    <h1>Welcome to Footprint!</h1>

    <h4>Please <a href="/login"> Log In</a> or <a href="/signup"> Sign Up</a> </h4>

    </div>

    </body>

    </html>
