<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footprint</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    
    <link href="custom.css" rel="stylesheet"> 
   <link href="cover.css" rel="stylesheet">
   </head>

    

  <main class="px-3">
    <h1>Welcome to Footprint.</h1>
    <p class="lead">Footprint is a basic activity tracker that records "green" activities. Earn credits with each sustainable activity recorded!</p>
    <p class="lead">
      <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white">Login</a>
      <a href="/signup" class="btn btn-lg btn-secondary fw-bold border-white">Signup</a>
    </p>

    <form>
  </main>

 



    
  </body>
</html>
