<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <!--<link href="public/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> -->

    <title>Footprint</title>
    
  </head>

  <body>

  </div>
    <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
  </div>

    <h1>Welcome to Footprint!</h1>
    

    <h4>Please <a href="/login"> Log In</a> or <a href="/signup"> Sign Up</a> </h4>

  </div>

    

    </body>

    </html>
