<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!--<link href="<%= url('/bootstrap/css/bootstrap.css') %>" rel="stylesheet" type="text/css" />
<link href="<%= url('/bootstrap/css/bootstrap-responsive.css') %>" rel="stylesheet" type="text/css" />

<!--<link href="public/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->
<style>
    h1, h4 {
        font-family: sans-serif;
        text-align: center;
    }
    body {
        padding-top: 60px; /* When using the navbar-top-fixed */
    }

    form {
        text-align: center;
        font-family: sans-serif
    }
    

    .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
    }

    .centercontents {
    text-align: center !important;
    }

    .alignrightcontents {
    text-align: right !important;
    }

</style>
</head>

<body>
<%= yield %>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>