<!DOCTYPE HTML>
<html>
<head>

<link href="public/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<style>
    h1, h4 {
        font-family: sans-serif;
        text-align: center;
    }
    body {
        padding-top: 60px; /* When using the navbar-top-fixed */
    }

    form {
        text-align: center;
        font-family: sans-serif
    }
    

    .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
    }

    .centercontents {
    text-align: center !important;
    }

    .alignrightcontents {
    text-align: right !important;
    }

</style>
</head>

<body>
<h1>Footprint </h1>
<%= yield %>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>